.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

.header-image {
  width: 100px;
}

.nav-items > ul > li {
  display: inline-block;
  padding: 10px;
  color: black;
}
.nav-items > ul {
  padding: 0px 90px;
  font-size: 22px;
 

}

.nav-items > ul > li:hover {
  color: #fc8019;
}

.nav-items > ul > img {
  width: 50px;
  margin-top: 1px;
  margin-left: 2rem;
  
}

.search {
  padding: 5px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.card > img {
  width: 190px;
  height: 150px;
  padding: 5px;
  border-radius: 1rem;
}

.card {
  background-color: aliceblue;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 200px;
  height: 400px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1rem;
  color: black;
  }

.card:hover {
  border: 1px solid black;
  cursor: pointer;
  box-shadow: inset;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
  width: 200px;
  height: 350px;
  background-color: rgb(226, 219, 219);
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
}

.filter-btn{
  margin-left: 1rem;
}

.form-container{
  padding-top: 5rem;
  margin-left: 35rem;
}